<h1>Team Picker</h1>

<form method="POST" action="/">
	<%# name=name_underscore id=name-dash %>
	<label for="names">Names: </label>
	<input type="text" id="names" name="names" value="<%= session[:names] %>">
	<%# Harkamal, Tom, Cerize, Kaia, Mark, Michael O, Jamey, Gitica, Stephen, Michael L, Tony, Jennifer, Mallinath, Sam, Jacob, Kelvin, Samantha, An, Ryan, Andrew, Sheelove, Eli, Stanley %>
	
	<label for="names">Number: </label>
	<input type="text" name="number" value=<%= session[:number] %>>
	<input type="radio" name="method" id="m1" value=0 <% if session[:method] == "0" %>checked<% end %>>
	<label for="m1">People in Teams </label>
	<input type="radio" name="method" id="m2" value=1 <% if session[:method] == "1" %>checked<% end %>>
	<label for="m2">Number of Teams </label>
	<input type="submit" value="Pick One!">
</form>

<% if session[:result] %>
	The winner is: <%= session[:result] %><br>
	The teams are: <br>
	<% if session[:teams].is_a?(Array) %>
		<% session[:teams].each_index do |i| %>
			Team <%= i+1 %>:
		<%= session[:teams][i].join(", ") %><br>
		<% end %>
	<% else %>
		<%= session[:teams] %>
	<% end %>	
<% end %>